@import "variables";
@import "mixins/breakpoints";
@import "partials/folink-logo";
@import "partials/section-game";
@import "partials/game-block.scss";
@import "partials/section-how-works";
html {
  &.game-open {
    height: 100%;
    overflow: hidden;
    body {
      overflow: hidden;
    }
  }
}
