.section-how-works {
  text-align: center;
  padding-bottom: 356px;
  overflow: hidden;
  position: relative;
  @include media-breakpoint-up(md) {
    padding-bottom: 420px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 406px;
  }
  * {
    box-sizing: border-box;
  }
  .container {
    padding: 0 25px;
  }
  .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    color: #000000;
    span {
      display: inline-block;
      padding-bottom: 3px;
      background: url("../images/line.png") 0 bottom repeat-x;
      color: #6741FF;
    }
  }
  .desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #586380;
    @include media-breakpoint-up(md) {
      max-width: 702px;
      margin: 0 auto;
      margin-top: 15px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
  }
  .animate {
    z-index: -1;
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    width: 100%;
    .man {
      position: absolute;
      bottom: 0;
      left: -130px;
      z-index: 1;
    }
  }
  .bg {
    position: absolute;
    display: none;
    display: flex;
    bottom:0;
    left: 0;
    margin: 0 0 0 -995px;
    img {
      width: auto;
      height: auto;
      max-width: none;
      display: block;
    }
  }
  .message {
    text-align: left;
    padding: 21px 16px 26px 26px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    color: #586380;
    z-index: 10;
    transition: opacity 0.3s, visibility 0.3s;
    bottom: 189px;
    left: 50%;
    margin-left: -114px;
    width: 223px;
    border-radius: 30px 30px 30px 0px;
    &:not(.active ){
      visibility: hidden;
      opacity: 0;
    }
    &-refill {
      text-align: center;
      color: #586380;
      width: 169px;
      margin-left: -111px;
      @include media-breakpoint-up(md) {
        margin-left: -183px;
      }
      .sun,
      .ttl {
        color: #000000;
      }
      .sum {
        margin-top: 9px;
        font-weight: 700;
        font-size: 18px;
        position: relative;
        padding-left: 24px;
        display: inline-block;
        vertical-align: top;
        background:  url(../images/animate/a.svg) 0 0 no-repeat;
      }
      .txt {
        margin-top: 11px;
        margin-left: -5px;
        margin-right: -5px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      @include media-breakpoint-down(md) {
        left: 0;
        width: 0;
        height: 0;
        border-right: 22px solid transparent;
        border-top: 22px solid #FFF;
        top: 100%;
          
      }
    }
    &-buddy {
      border-radius: 30px 30px 0 30px;
      margin-left: -111px;
      &:after {
        content: '';
        position: absolute;
        @include media-breakpoint-down(md) {
          left: auto;
          right: 0;
          width: 0;
          height: 0;
          border-right: none;
          border-left: 22px solid transparent;
          border-top: 22px solid #FFF;
          top: 100%;

        }
      }
    }
    @include media-breakpoint-up(md) {
      border-radius: 30px;
      bottom: 200px;
      left: 50%;
      width: 199px;
      margin-left: -196px;
      &-buddy {
        margin-left: -8px;
      }
      &:after {
        content: '';
        width: 44px;
        height: 26px;
        background: #FFF;
        position: absolute;
        left: 50%;
        bottom:0;
        transform: translateX(-50%);
      }
      &:before {
        content: '';
        background: #FFF;
        width: 22px;
        height: 22px;
        position: absolute;
        left: 50%;
        transform: rotate(45deg) translate(-25%, 25%);
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
        bottom: -11px;
      }
    }

  }

}